-
  const baseUrl = 'https://qwerty10218.github.io/gary-resume-prepro';
  const siteName = 'Gary作品集網站';
  // 頁面路徑
  let path = '';
  let pageTitle = '';
  let infoTitle = '期盼窮盡所學，豐富您的網站';
  let description = '這是一個gary的作品集及履歷展示的平台，利用網頁切版及設計呈現簡約式的簡歷介紹。';
  let image = 'img/og/og.jpg';
  